<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>cats</title>
  </head>
  <body>
  <header>All about Cats</header>
  <nav>
    <a href = "/">Home Page</a>
    <a href = "/cats">Cat Page</a>
    <a href = "/dogs">Dog Page</a>
    <a href = "/ninjas">Ninjas Page</a>
    <a href = "/pirates">Pirates Page</a>
  </nav>
    <img src="https://lh5.googleusercontent.com/-O-xEGM2UPbI/UYKKmx9_qFI/AAAAAAAAhJs/E9zyxOC05PY/s400/SushiCat13.jpg">
    <img src="http://www.forumoflife.com/attachments/pets-animals/83753d1360528369-dogs-cats-big-show-down-tard-grumpy-cat.jpg">
    <img src="http://superiorplatform.com/animals/cats/hunting/spy_cat.jpg">
    <img src="/images/cat.jpg">
    <iframe width="560" height="315" src="//www.youtube.com/embed/Kdgt1ZHkvnM" frameborder="0" allowfullscreen></iframe>
  <footer>
    <small>(c) Cats</small>
  </footer>
  </body>
</html>

