<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>dogs</title>
  </head>
  <body>
  <header>All about Dogs</header>
  <nav>
    <a href = "/">Home Page</a>
    <a href = "/cats">Cat Page</a>
    <a href = "/dogs">Dog Page</a>
    <a href = "/ninjas">Ninjas Page</a>
    <a href = "/pirates">Pirates Page</a>
  </nav>
  <img src="http://www.cesarsway.com/sites/default/files/cesarsway-images/features/2012/sept/Dyeing-Your-Dogs-Hair-Is-a-Bad-Idea.jpg">
  <img src="http://img.thrfun.com/img/081/049/guilty_dog_s1.jpg">
  <img src="http://static.ddmcdn.com/gif/300small-dogs-to-pets0-1.jpg">
  <iframe width="560" height="315" src="//www.youtube.com/embed/hGyZ2ETCTVU" frameborder="0" allowfullscreen></iframe>
  <footer>
    <small>(c) Dogs</small>
  </footer>
  </body>
</html>
